{{> header }}
<section>
    <div class="container-fluid">
        <div class="col-md-4 mx-auto pt-5">
            <label for="">Copy Url</label>
            <input type="text" class="form-control" name="" id="" value="{{url}}">
            <h4 class="text-center p-5">Copy And Share This URL With Your Friends</h4>
        </div>
        <div class="col-md-4 mx-auto">
            Share On : 
            <a href="whatsapp://send?text={{url}}" class="ml-3"><i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 40px;color: green;"></i></a>
        </div>
    </div>
</section>